.roulette{background-color: #f6f6f6; display: flex; font-size: 100px; font-weight: bold; line-height: 1;}
.roulette .item{position: relative; width: 50px; height: 100px; overflow: hidden;}
.roulette .number{position: absolute; bottom: 0; left: 0;  display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 1100%;}
.roulette span{width: 100%; height: calc(100% / 11); display: flex; justify-content: center; align-items: center;}
.roulette .animation{transition: bottom .2s;}